**/node_modules/
**/dist/
**/.env
**/.env.*
!**/.env.example
**/local.properties
mobile-app/.dart_tool/
mobile-app/.packages
mobile-app/build/
mobile-app/.flutter-plugins
mobile-app/.flutter-plugins-dependencies
mobile-app/.idea/
mobile-app/ios/Flutter/Generated.xcconfig
mobile-app/ios/Flutter/flutter_export_environment.sh
mobile-app/ios/Flutter/ephemeral/
mobile-app/macos/Flutter/ephemeral/
mobile-app/windows/flutter/ephemeral/
mobile-app/linux/flutter/ephemeral/
*.iml
*.log
